/* html{
    background-color: #FFE1E6;
} */

/* body {
    height: 100%;
    width: 100%;
} */

.container {

    font-family: 'Damion', cursive;
    background-image: url("../assets/hearts.jpg") !important;
    background-repeat: repeat-y;
    margin: auto;
    height: 220vw;

}

.banner{
    padding: 5%;
}

.box{
    font-weight: 700;
    color: black;
}